# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales (¡Muy importante no subir tu venv!)
venv/
env/
ENV/

# Base de datos local de Django
db.sqlite3

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración local y variables de entorno
.env
.vscode/