<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - Aduana</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Acceso al Sistema</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-4 *:w-full *:mb-2 *:border *:border-gray-300 *:rounded *:p-2 *:text-gray-700">
                {{ form.as_p }}
            </div>
            
            <button type="submit" class="w-full bg-blue-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-200">
                Iniciar Sesión
            </button>
        </form>
    </div>
</body>
</html>